{% extends "base_accounts.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Auntenticação de Usuário{% endblock %}

{% block container %}
  <form class="form-box" method="post">

    {% csrf_token %}

    <img class="mb-4" src="{% static "img/logo.png" %}" alt="" width="" height="">
    <p class="display-4">Entre</p>

    {% for error in form.non_field_errors %}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{error}}
      </div>
    {% endfor %}

    {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}

          {% render_field form.username class='form-control' placeholder='Nome de Usuário' %}

          {% render_field form.password class='form-control' placeholder='Senha' %}

    {% endwith %}


    <button class="btn btn-primary" type="submit">Entrar</button>
    <a href="{% url 'accounts:addUser' %}" class="btn btn-secondary">Não Tenho Cadastro</a>
  </form>

{% endblock %}
