{% extends "base.html" %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block container %}

  <div class="container margin-top">

    <p class="display-4">Gerenciar Alunos</p>

    <table class="table table-hover">

        {% if registers %}
          <thead>
            <tr>
              <th scope="col">Aluno</th>
              <th scope="col">Situação</th>
              <th scope="col" style="text-align: center">Ações</th>
              <th scope="col" style="text-align: center">Mudar Estado</th>
            </tr>
          </thead>
          <tbody>
        {% endif %}


        {% for register in registers %}
        {% if register.discipline.teacher == user %}
          <tr>
            <td>
               <img src="{{register.student.avatar|thumbnail_url:'avatar'}}" alt="" class="rounded-circle">
            </td>
            <td >
              {{register.student}}
            </td>
            <td>

              {% if register.status == 0 %}  <p class="text-warning"><strong>Solicitação Pendente em{% endif %}
                {% if register.status == 1 %}  <p class="text-success"><strong>Aluno de{% endif %}
                  {% if register.status == 2 %}  <p class="text-danger"><strong>Banido de{% endif %}
                    {% if register.status == 3 %}  <p class="text-primary"><strong>Moderador de{% endif %}
                      {{register.discipline}}</strong></p>

                    </td>
                    <td style="text-align: center">
                      <form class="" action="{% url 'discipline:registerStudent' register.id %}" method="post">
                        {% csrf_token %}
                        {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}

                        <input name="student" id='id_student' value='{{ register.student.id }}' hidden/>
                        <input name="discipline" id='id_discipline' value='{{ register.discipline.id }}' hidden/>

                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-primary{% if register.status == 1 %} active{% endif %}">
                            <input type="radio" name="status" id="id_status" autocomplete="off" value='1'> Tornar Aluno
                          </label>
                          <label class="btn btn-primary{% if register.status == 2 %} active{% endif %}">
                            <input type="radio" name="status" id="id_status" autocomplete="off" value='2'>  Banir Aluno
                          </label>

                          <label class="btn btn-primary{% if register.status == 3 %} active{% endif %}">
                            <input type="radio" name="status" id="id_status" autocomplete="off" value='3'> Tornar Moderador
                          </label>
                        </div>

                        <td style="text-align: center">
                          <input type="submit" name="" value="Mudar Estado" class="btn btn-primary btn-lg">
                        </td>
                        {% endwith %}
                      </form>

                    </td>
                  </tr>


        {% endif %}
        {% endfor %}


      </tbody>
    </table>

    </div>

{% endblock %}
