{% extends "base.html" %}
{% load widget_tweaks %}

{% block container %}

  <div class="container margin-top">

    <p class="display-4">Gerenciar Alunos</p>

    <table class="table table-hover">

        {% if registers %}
          <thead>
            <tr>
              <th scope="col">Nome do Aluno</th>
              <th scope="col">Situação</th>
              <th scope="col" style="text-align: center">Ações</th>
              <th scope="col" style="text-align: center">Mudar Estado</th>
            </tr>
          </thead>
          <tbody>
        {% endif %}

        {% for register in registers %}
            <tr>
              <td scope="row" > {{register.student}} </td>
            <td>

              {% if register.status == 0 %}  <p class="text-warning"><strong>Solicitação Pendente em{% endif %}
              {% if register.status == 1 %}  <p class="text-success"><strong>Inscrito em{% endif %}
              {% if register.status == 2 %}  <p class="text-danger"><strong>Banido em{% endif %}
                {{register.discipline}}</strong></p>

            </td>
            <td style="text-align: center">
              <form class="" action="{% url 'discipline:registerStudent' register.id %}" method="post">
                {% csrf_token %}
                {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}

                <input name="student" id='id_student' value='{{ register.student.id }}' hidden/>
                <input name="discipline" id='id_discipline' value='{{ register.discipline.id }}' hidden/>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary{% if register.status == 1 %} active{% endif %}">
                    <input type="radio" name="status" id="id_status" autocomplete="off" value='1'>  Aceitar
                  </label>
                  <label class="btn btn-primary{% if register.status == 2 %} active{% endif %}">
                    <input type="radio" name="status" id="id_status" autocomplete="off" value='2'>  Recusar
                  </label>
                </div>

                <button type="button" class="btn btn-primary">moderador</button>

                <td style="text-align: center">
                   <input type="submit" name="" value="Mudar Estado" class="btn btn-primary btn-lg">
                </td>
                {% endwith %}
              </form>

            </td>
          </tr>
        {% empty %}
        <div class="alert alert-warning" role="alert">
          Nenhum Aluno Cadastrado
        </div>
        {% endfor %}

      </tbody>
    </table>

    </div>

{% endblock %}
