{% extends "base.html" %}
{% load widget_tweaks %}

{% block container %}

  <div class="container margin-top">

    <p class="display-4">Gerenciar Disciplinas</p>

    <table class="table table-hover">

        <thead>
          <tr>
            <th scope="col">Nome da Disciplina</th>
            <th scope="col">Descição</th>
            <th colspan="2" style="text-align: center">Ações</th>
          </tr>
        </thead>
        <tbody>

        {% for discipline in disciplines %}

          {% if discipline.teacher == user %}
            <tr>
              <th scope="row">{{discipline.name}}</th>
              <td>{{discipline.description}}</td>
              <td style="text-align: center"><a class="btn btn-secondary btn-sm" href="{% url 'discipline:editDiscipline' discipline.id %}" role="button">Editar</a></td>

            </tr>
          {% endif %}

        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-success btn-lg" href="{% url 'discipline:addDiscipline' %}" role="button">Cadastrar Disciplina</a>

    </div>

{% endblock %}
