<!doctype html>
{% load static %}

<html lang="pt">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/extra.css' %}">

  <!--Custom CSS-->

  <title>{% block title %}isCool{% endblock %}</title>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container d-flex justify-content-between">

    <a class="navbar-brand" href="#">isCool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
          </li>

      <li class="nav-item">


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Disciplinas</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'discipline:addDiscipline' %}">Cadastrar Disciplina</a>
              <a class="dropdown-item" href="{% url 'discipline:listDiscipline' %}">Buscar Disciplinas</a>
              <a class="dropdown-item" href="{% url 'discipline:managerDiscipline' %}">Gerenciar Disciplinas</a>

            </div>
          </li>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'discipline:listStudent' %}">Gerenciar Alunos</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link" href="#">Como funciona o isCool?</a>
        </li>
      </ul>
        <div class="nav-item dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            olá, {{user.get_short_name}}
         </button>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="{% url 'accounts:myAccount' %}">Minha Conta</a>
            <a class="dropdown-item" href="#">Mudar Informações</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  {% block container %}

  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
