{% extends "base.html" %}
{% load widget_tweaks %}


{% block container %}

  <div class="container margin-top">

    <div class="card border-primary">
      <div class="card-body">


        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#postar_topico" role="tab" aria-controls="home" aria-selected="true">Postar Tópico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#postar_aviso" role="tab" aria-controls="profile" aria-selected="false">Postar Aviso</a>
          </li>

        </ul>

        <div class="tab-content">

          <div class="tab-pane fade show active" id="postar_topico" role="tabpanel" >

            <form class="" action="{% url 'post:newTopic' %}" method="post">
              {% csrf_token %}

              {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}

              <div class="form-group">
                {% render_field formTopic.title class='form-control' placeholder='Titulo do tópico' %}
              </div>

              <div class="form-group">
                <select id="id_discipline" name="discipline" class="form-control">

                  {% for discipline in disciplines %}
                    {% for register in registers %}
                      {% if user == register.student and register.status == 1 and register.discipline == discipline%}

                        <option value="{{discipline.id }}">{{discipline.name}}</option>

                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                </select>

              </div>

              <div class="form-group">
                {% render_field formTopic.content class='form-control' rows="5" cols="20" placeholder='Conteudo do seu Tópico' %}
              </div>

                <input name="author" id='id_author' value='{{ request.user.id }}' hidden/>
              {% endwith %}
              <button type="submit" class="btn btn-primary">Postar</button>

            </form>

          </div>

          <div class="tab-pane fade" id="postar_aviso" role="tabpanel" aria-labelledby="profile-tab">

            <form class="" action="{% url 'post:newTopic' %}" method="post">
              {% csrf_token %}

              {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}

              <div class="form-group">
                {% render_field formTopic.title class='form-control' placeholder='Titulo do Aviso' %}
              </div>

              <div class="form-group">
                <select id="id_discipline" name="discipline" class="form-control">

                  {% for discipline in disciplines %}
                    {% for register in registers %}
                      {% if user == register.student and register.status == 1 and register.discipline == discipline%}

                        <option value="{{discipline.id }}">{{discipline.name}}</option>

                        {% endif %}
                      {% endfor %}
                    {% endfor %}

                </select>

              </div>

              <div class="form-group">
                {% render_field formTopic.content class='form-control' rows="5" cols="20" placeholder='Conteudo do seu Aviso' %}
              </div>

                <input name="author" id='id_author' value='{{ request.user.id }}' hidden/>
                <input name="is_warning" id='is_warning' value='True' hidden/>

              {% endwith %}
              <button type="submit" class="btn btn-warning">Postar</button>

            </form>


          </div>

        </div>




        </div>
      </div>
  </div>

{% for topic in topics %}

{% for register in registers %}

{% if user == register.student and register.status == 1  and register.discipline == topic.discipline %}


  <div class="modal fade" id="modal{{topic.id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{topic.id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal{{topic.id}}Label1">{{ topic }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">

          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <p class="lead">{{ topic.content|escape }}</p>
                <div class="row">

                  <div class="col">
                    <form class="" action="{% url 'post:newReply' %}" method="post">

                      {% csrf_token %}

                      <div class="form-group">
                        <label for="{{ form.nome.id_for_label}}">Conteudo</label>
                        {{ formReply.content| add_class:"form-control"}}
                      </div>

                      <input name="topic" id='id_topic' value='{{ topic.id }}' hidden/>
                      <input name="author" id='id_author' value='{{ request.user.id }}' hidden/>



                      <button type="submit" class="btn btn-secondary">Comentar</button>

                    </form>



                    <table class="table table-hover table-active">
                        <tbody>

                          {% for reply in replies %}
                            {% if reply.topic.id == topic.id %}
                              <tr>
                                <td>
                                  <strong>Comentado por:{{reply.author.get_short_name}}</strong>
                                  <p class="lead">{{reply.content}}</p>
                                  <a class="btn btn-outline-secondary btn-sm" href="{% url 'post:editReply' reply.id %}" role="button">Editar</a>
                                  <a class="btn btn-outline-danger btn-sm" href="{% url 'post:deleteReply' reply.id %}" role="button">Deletar</a>
                                </td>
                              </tr>

                            {% endif %}
                          {% endfor %}

                        </tbody>
                      </table>


                  </div>
                </div>


              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

<br>

      <div class="container">

        <div class="{% if topic.is_warning == True %}card text-white bg-warning{% else %}card{% endif %}">
          <div class="card-header font-weight-bold">
            Postado por {{topic.author.get_short_name}}
          </div>


          <div class="card-body">
            <h4 class="card-title">{{topic.title}}</h4>
            <div class="card-text"><p class="lead"> {{ topic.content|linebreaks }} </p></div>
            <div class="row">
              {% if topic.is_warning == False %}
                <button type="button" class="btn btn-outline-primary display-2" data-toggle="modal" data-target="#modal{{topic.id}}">Ler Comentários</button>
                <a class="btn btn-secondary btn-sm" href="{% url 'post:editTopic' topic.id %}" role="button">Editar</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'post:deleteTopic' topic.id %}" role="button">Deletar</a>
                <p class="card-text text-right"><small class="text-muted">Last updated 3 mins ago</small></p>
              {% endif %}
            </div>

          </div>

          <div class="card-footer ">
            <h5><a href="#" class="badge badge-info">{{ topic.discipline }}</a></h5>


            <small>palavras chave bababababababababababababbbbbb</small>



          </div>

        </div>

      </div>

      {# temporario #}
      <br>
      {% endif %}

      {% endfor %}

    {% endfor %}
  {% endblock %}
