{% load widget_tweaks %}

<div class="modal fade" id="modal{{topic.id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{topic.id}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal{{topic.id}}Label1">{{ topic }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <p class="lead">{{ topic.content|escape }}</p>
              <div class="row">

                <div class="col">
                  <form class="" action="{% url 'post:newReply' %}" method="post">

                    {% csrf_token %}

                    <div class="form-group">
                      <label for="{{ form.nome.id_for_label}}">Conteudo</label>
                      {{ formReply.content| add_class:"form-control"}}
                    </div>

                    <input name="topic" id='id_topic' value='{{ topic.id }}' hidden/>
                    <input name="author" id='id_author' value='{{ request.user.id }}' hidden/>



                    <button type="submit" class="btn btn-secondary">Comentar</button>

                  </form>



                  <table class="table table-hover table-active">
                    <tbody>

                      {% for reply in replies %}
                      {% if reply.topic.id == topic.id %}
                      <tr>
                        <td>
                          <strong>{{reply.author.get_short_name}} respondeu</strong>
                          <p class="lead">{{reply.content}}</p>
                          {% if user == register.student and register.status == 3  and register.discipline == topic.discipline or user == reply.author or topic.discipline.teacher == user %}

                            <a class="btn btn-secondary btn-sm" href="{% url 'post:editReply' reply.id %}" role="button">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'post:deleteReply' reply.id %}" role="button">Deletar</a>

                          {% endif %}
                        </td>
                      </tr>

                      {% endif %}
                      {% endfor %}

                    </tbody>
                  </table>


                </div>
              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<br>

<div class="container">

  <div class="{% if topic.is_warning == True %}card border-warning mb-3{% else %}card{% endif %}">
    <div class="card-header font-weight-bold">
      Postado por {{topic.author.get_short_name}}
    </div>


    <div class="{% if topic.is_warning == True %}card-body text-warning{% else %}card-body{% endif %}">
      <h4 class="card-title">{{topic.title}}</h4>
      <div class="card-text"><p class="lead"> {{ topic.content|linebreaks }} </p></div>
      <div class="row">

        {% if topic.is_warning == False %}
          <button type="button" class="btn btn-outline-primary display-2" data-toggle="modal" data-target="#modal{{topic.id}}">Ler Comentários</button>
        {% endif %}

        {% if topic.author == request.user or user == register.student and register.status == 3  and register.discipline == topic.discipline or topic.discipline.teacher == user %}
        <a class="btn btn-secondary btn-sm" href="{% url 'post:editTopic' topic.id %}" role="button">Editar</a>
        <a class="btn btn-secondary btn-sm" href="{% url 'post:deleteTopic' topic.id %}" role="button">Deletar</a>
        <p class="card-text text-right"><small class="text-muted">Last updated 3 mins ago</small></p>
        {% endif %}
      </div>

    </div>

    <div class="card-footer ">
      <h5><a href="#" class="badge badge-info">{{ topic.discipline }}</a></h5>


      <small>palavras chave bababababababababababababbbbbb</small>



    </div>

  </div>

</div>

{# temporario #}
<br>
